RewriteEngine On

# 0. Redirect root (/) e /index a /home
RewriteRule ^$ /home [R=301,L]
RewriteRule ^index(\.html)?$ /home [R=301,L]

# 1. Se il link contiene .html, lo toglie automaticamente dalla barra del browser
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.*)\.html [NC]
RewriteRule ^ /%1 [R=301,L]

# 2. Se l'utente cerca la pagina senza .html, il server gliela mostra lo stesso
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
